<aside id="leftsidebar" class="sidebar m-sidenav">

    <!-- Menu -->
    <div class="menu">
        <ul class="list">

            <li class="active">
                <a href="/">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="cpu">
                    <i class="material-icons">developer_board</i>
                    <span>CPU</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons">memory</i>
                    <span>Memory</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons">dns</i>
                    <span>Host</span>
                </a>
            </li>

            <li>
                <a>
                    <i class="material-icons">line_style</i>
                    <span>Load</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons">storage</i>
                    <span>Disk</span>
                </a>
            </li>
            <li>
                <a>
                    <i class="material-icons">network_cell</i>
                    <span>Network</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->

</aside>