<aside id="leftsidebar" class="sidebar m-sidenav">

    <!-- Menu -->
    <div class="menu">
        <ul class="list">

            <li class="active">
                <a href="/">
                    <i class="material-icons">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li data-state="cpu">
                <a ui-sref="cpu">
                    <i class="material-icons">developer_board</i>
                    <span>CPU</span>
                </a>
            </li>
            <li data-state="memory">
                <a ui-sref="memory">
                    <i class="material-icons">memory</i>
                    <span>Memory</span>
                </a>
            </li>
            <li data-state="host">
                <a ui-sref="host">
                    <i class="material-icons">dns</i>
                    <span>Host</span>
                </a>
            </li>

            <li data-state="load">
                <a ui-sref="load">
                    <i class="material-icons">line_style</i>
                    <span>Load</span>
                </a>
            </li>
            <li data-state="disk">
                <a ui-sref="disk">
                    <i class="material-icons">storage</i>
                    <span>Disk</span>
                </a>
            </li>
            <li data-state="network">
                <a ui-sref="network">
                    <i class="material-icons">network_cell</i>
                    <span>Network</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <div class="legal">
            <div class="copyright">
                    <a href="javascript:void(0);">SUTD STATNLP - Server Monitor</a> &copy; 2018
            </div>
            <div class="version">
                <b>Version: </b> 1.0.0-beta
            </div>
        </div>
</aside>