<div class="container-fluid">
    <div class="block-header row">
        <div class="col-lg-6 col-md-6 col-sm-3 col-xs-6">
            <button ng-disabled="vm.isAutoRefresh" ng-click="vm.refresh()" type="button" class="btn btn-primary btn-circle-lg waves-effect waves-circle waves-float">
                <i class="material-icons">refresh</i>
            </button>
        </div>
    </div>

    <!-- Summary info -->
    <div class="row clearfix">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">view_module</i>
                </div>
                <div class="content">
                    <div class="text">CPU COUNT</div>
                    <div class="number">{{vm.cpu.count}}</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">developer_board</i>
                </div>
                <div class="content">
                    <div class="text">CPU USAGE</div>
                    <div class="number">{{vm.cpu.sumPercent | number: 2}} %</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">account_box</i>
                </div>
                <div class="content">
                    <div class="text">CPU USER</div>
                    <div class="number">{{vm.cpu.sumTime.user | number: 2}} h</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">brightness_high</i>
                </div>
                <div class="content">
                    <div class="text">CPU SYSTEM</div>
                    <div class="number">{{vm.cpu.sumTime.system | number: 2}} h</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">view_column</i>
                </div>
                <div class="content">
                    <div class="text">CPU IDLE</div>
                    <div class="number">{{vm.cpu.sumTime.idle | number: 2}} h</div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">vertical_align_top</i>
                </div>
                <div class="content">
                    <div class="text">CPU NICE</div>
                    <div class="number">{{vm.cpu.sumTime.nice | number: 2}} s</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">hourglass_empty</i>
                </div>
                <div class="content">
                    <div class="text">CPU IOWAIT</div>
                    <div class="number">{{vm.cpu.sumTime.iowait | number: 2}} s</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box hover-zoom-effect">
                <div class="icon bg-blue">
                    <i class="material-icons">shuffle</i>
                </div>
                <div class="content">
                    <div class="text">CPU SOFTIRQ</div>
                    <div class="number">{{vm.cpu.sumTime.softirq | number: 2}} s</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Info detail -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                        CPU DETAILS
                    </h2>
                </div>
                <div class="body" ng-show="vm.hasTable">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Model Name</th>
                                    <th>Vendor</th>
                                    <th>MHZ</th>
                                    <th>Cache Size</th>
                                    <th>Percent Usage</th>
                                </tr>
                            </thead>
                          
                            <tbody>
                                <tr ng-repeat="item in vm.cpu.info">
                                    <td>{{item.cpu}}</td>
                                    <td>{{item.modelName}}</td>
                                    <td>{{item.vendorId}}</td>
                                    <td>{{item.mhz}}</td>
                                    <td>{{item.cacheSize}}</td>
                                    <td>{{vm.cpu.percent[$index] | number : 2}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>